@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

* {
  font-family: "roboto";
  margin: 0;
  padding: 0;
  color: #1e2749;
}
/* using the whole page */
body {
  height: 100vh;
  background: rgb(255, 255, 255);
}
/* so that comtaine covers page */
.container-fluid {
  display: flex;
  height: 100vh !important;
}
.card {
  display: block;
  width: fit-content;
  min-height: 20rem;
  height: fit-content;
  text-align: center;
  padding: 3rem 3rem 0.65rem 3rem;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  margin: auto;
  background: transparent;
  transition: 500ms ease-in-out;
}
form {
  padding: 2rem;
}
/* placing accountMenu to buttom */
.buttons {
  position: absolute;
  bottom: 2rem;
  left: 0;
  width: 80%;
  margin: 0 10% 0 10%;
}
/* centering accountMenu */
.btn-group {
  display: flex !important;
  flex-wrap: wrap;
  position: static;
  margin-left: auto;
  margin-right: auto;
}
.btn {
  font-family: roboto;
  min-width: 7rem;
  border-color: #1e2749 !important;
  color: #273469 !important;
  transition: 500ms ease-in-out;
}
.btn:hover {
  background: #1e2749 !important;
  color: white !important;
}
.active {
  background: #1e2749 !important;
  color: white !important;
}
input {
  background: rgb(252, 250, 250) !important;
  border-bottom: 1px solid #1e2749 !important;
  border-left: none !important;
  border-right: none !important;
  border-top: none !important;
  border-radius: 2px !important;
}
.btn:focus,
input:focus {
  box-shadow: none !important;
  outline: none;
}
.submit {
  width: 100%;
  margin: 2rem 0 0 0 !important;
}
.menuItem {
  border-radius: 0 !important;
}
.form-control {
  border-color: #212529;
}
#title {
  text-align: center;
  position: absolute;
  margin: 1rem auto;
  font-size: 2rem;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "Ronoto";
  color: #1e2749;
}
p {
  margin-top: 3rem;
  margin-bottom: 0;
  text-align: center;
  color: red;
  font-family: "Courier New", Courier, monospace;
}
#withdrawal {
  display: none;
}
span {
  color: "var(--bs-indigo)";
  font-size: 5rem;
}
#welcomeMsg {
  text-align: center;
  position: absolute;
  margin: 1rem auto;
  font-size: 0.75rem;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "roboto";
  color: #1e2749;
}
#hello {
  font-size: 2.5rem;
  font-style: bold;
  font-family: "Open Sans Bold";
}
label {
  text-align: left;
  width: 100%;
}
#balanceDis {
  text-align: center;
  padding: 0;
}
#login {
  max-width: 25rem;
}
@media (min-width: 582px) {
  #balanceDis,
  #depositWithdrawal {
    min-width: 25rem;
  }
  .menuItem {
    width: 8% !important;
  }
}
.icons {
  height: 40px;
  width: auto;
  display: block;
  margin: auto;
}
